<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514829615906-njv6cnaacu2ultcco68v820s3fcstubg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514829615906-njv6cnaacu2ultcco68v820s3fcstubg</string>
	<key>API_KEY</key>
	<string>AIzaSyA5rwCd4I4V9aHkyb-TKW-iruQ4DmXk544</string>
	<key>GCM_SENDER_ID</key>
	<string>514829615906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apps.romanticstory</string>
	<key>PROJECT_ID</key>
	<string>romantic-story-8b2e1</string>
	<key>STORAGE_BUCKET</key>
	<string>romantic-story-8b2e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514829615906:ios:092579d6a6b5306bc85b7b</string>
</dict>
</plist>